@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Hidayah Library</h3>

<address>
    Top rated Library in Surabaya<br />
    Dudu, WA 14045<br />
</address>

<address>
    <strong>Marketing:</strong>   <a href="mailto:Support@example.com">cuco@gmail.com</a>
</address>